.max-height {
	padding-top: 5px;
	height: 100vh;
	max-height: 100vh;
	padding-bottom: 5px;
}
.fluid {
	max-width: 100%;
	max-height: 100%;
}
.scroll {
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
	width: 100%;
	max-height: calc(100vh - 45px);
}
html, body {
	height: 100%;
	overflow: hidden;
	user-select: none;
	-webkit-user-select: none;
}
.center {
	text-align: center;
}
.preview {
	margin: 0px;
	padding: 0px;
	padding-bottom: 5px;
}
#sidebar {
	position: fixed;
	top: 0px;
	right: 0px;
	min-width: 40px;
	padding-right: 0px;
	padding-top: 5px;
	padding: 10px;
}
#sidebar button {
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	margin-bottom: 5px;
}
#sidebar:hover button {
	filter: alpha(opacity=1);
	opacity: 1;
	display: block;
}
.sidebutton {
}
#right-bar {
	overflow-y: auto;
	word-wrap: break-word;
}
li {
	user-select: text;
	-webkit-user-select: text;
}
#parent {
	overflow: auto;
}
