.max-height {
	height: calc(100vh - 50px);
	max-height: calc(100vh - 50px);
}
.fluid {
	max-width: 100%;
	max-height: 100%;
}
.scroll {
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
	width: 100%;
}
html, body {
	height: 100%;
	overflow: hidden;
	user-select: none;
	-webkit-user-select: none;
}
.center {
	text-align: center;
}
#right-bar, #left-bar {
	padding-top: 5px;
	padding-bottom: 5px;
	overflow-x: scroll;
}
#right-bar {
	overflow-y: auto;
	word-wrap: break-word;
}
#parent {
	overflow: auto;
	margin: 0px;
	padding: 0px;
}
.max-width {
	width: 100%;
}
.margin {
	margin-top: 5px;
	margin-bottom: 5px;
}
.nomargin {
	margin: 0px;
}
nav {
	margin: 0px !important;
	padding: 0px !important;
}
.dropdown-menu {
	overflow: visible !important;
}
#tag-list {
	position: fixed;
	top: 60px;
	right: 5px;
	height: calc(100vh - 65px - 160px);
	z-index: 4;
	overflow-y: auto;
	opacity: 0;
	word-wrap: break-word;
}
#tag-list:hover {
	opacity: 1;
}
.horizontal-scroll {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 170px;
	width: 100vw;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	z-index: 5;
	background: transparent;
	opacity: 0;
}

.horizontal-scroll:hover {
	opacity: 1;
}

.horizontal-scroll a {
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-right: 5px;
	border-top: solid;
	border-color: transparent;
	border-top-width: 10px;
}

.horizontal-scroll a img {
	max-height: 140px;
	width: auto;
}
a, button, input {
	-webkit-app-region: no-drag;
}
.selected {
	border-color: #286090 !important;
}
.show {
	opacity: 1 !important;
}
#page_url {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
}
