.max-height {
	height: 100vh;
	max-height: 100vh;
}
.fluid {
	max-width: 100%;
	max-height: 100%;
}
.scroll {
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
	width: 100%;
}
html, body {
	height: 100%;
	overflow: hidden;
	user-select: none;
	-webkit-user-select: none;
}
.center {
	text-align: center;
}
.preview {
	margin: 0px;
	padding: 0px;
}
#right-bar, #left-bar {
	padding-top: 5px;
	padding-bottom: 5px;
}
#right-bar {
	overflow-y: auto;
	word-wrap: break-word;
}
#parent {
	overflow: auto;
	background-color: black;
}
.max-width {
	width: 100%;
}
.margin {
	margin-top: 5px;
	margin-bottom: 5px;
}
.dropdown-menu {
	overflow: visible !important;
}
