<!DOCTYPE HTML>
<html lang="en" ng-app="app" ng-controller="appCtrl">
	<head>
		<meta charset="utf-8">
		<title>{{ title }}</title>
		<link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
		<script src="static/angular.min.js"></script>
		<script src="static/jquery.min.js"></script>
		<script src="static/jquery.scrollTo.min.js"></script>
		<script src="static/bootstrap/js/bootstrap.min.js"></script>
		<script src="js/app.js"></script>
	</head>
	<body>
		<div class="col-xs-3 max-height col-lg-2" id="left-bar" ng-hide="maximized">

			<div id="search" class="input-group max-width">
				<form ng-submit="newQuery(current_api)" class="input-group">
					<input autocomplete="off" id="tag-input" ng-model="tags" type="text" class="form-control">
					<div class="input-group-btn">
						<button type="submit" class="btn btn-default btn-primary">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</div>
				</form>
			</div>

			<div id="preview_list" class="scroll center margin">
				<div class="col-xs-12 preview" ng-repeat="entry in data">
					<img class="fluid" ng-src="{{ entry.preview_url ? entry.preview_url : base_url + entry.preview_file_url }}" ng-click="setActive(data.indexOf(entry))">
				</div>

			</div>

			<div id="pagination" class="btn-group btn-group-justified">
				<a class="btn btn-default" ng-click="incPage(0)">&laquo;</a>
				<a class="btn btn-default">{{ page }}</a>
				<a class="btn btn-default" ng-click="incPage(1)">&raquo;</a>
			</div>

		</div>

		<div class="col-xs-6 max-height col-lg-8 center" id="parent">
		</div>

		<div class="max-height col-xs-3 col-lg-2" id="right-bar">
			<div class="btn-group btn-block">
				<button id="booru-button" type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown">
					<img ng-src="{{ apis[current_api].base_url + '/favicon.ico' }}">
					{{ apis[current_api].name }}
				</button>
				<ul class="dropdown-menu dropdown-menu-right">
					<li ng-repeat="(k, v) in apis"><a ng-click="setAPI(k)">
							<img ng-src="{{ v.base_url + '/favicon.ico' }}">
							{{ v.name }}
						</a></li>
				</ul>
			</div>

			<div class="scroll margin" id="tag_list">
				<ul class="list-group">
					<li ng-class="{active: tags.split(' ').indexOf(tag) > -1}" class="list-group-item" ng-repeat="tag in active.tag_string ? active.tag_string.split(' ') : active.tags.split(' ')" ng-click="addRemoveTag(tag)">{{ tag }}</li>
				</ul>
			</div>

			<div id="buttons" class="btn-group btn-group-justified">
				<a download class="btn btn-default btn-primary" ng-class="{disabled: !active}" ng-href="{{ src }}">
					<span class="glyphicon glyphicon-save"></span>
				</a>
				<a class="btn btn-default btn-primary" ng-class="{disabled: !active}" ng-click="copyURL()">
					<span class="glyphicon glyphicon-copy"></span>
				</a>
				<a class="btn btn-default btn-primary" ng-class="{disabled: !active}" ng-click="toggleFullscreen()">
					<span class="glyphicon glyphicon-fullscreen"></span>
				</a>
			</div>
		</div>

	</body>
</html>
