<!DOCTYPE HTML>
<html lang="en" ng-app="app" ng-controller="appCtrl">
	<head>
		<title>{{ title }}</title>
		<link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
		<script src="static/angular.min.js"></script>
		<script src="static/jquery.min.js"></script>
		<script src="static/jquery.scrollTo.min.js"></script>
		<script src="static/bootstrap/js/bootstrap.min.js"></script>
		<script src="js/script.js"></script>
		<script src="js/app.js"></script>
	</head>
	<body>
		<div class="col-xs-3 max-height col-lg-2">

			<div class="input-group" style="padding-bottom: 5px; width: 100%">
				<form ng-submit="newQuery('danbooru')" class="input-group">
					<input id="tag-input" ng-model="tags" type="text" class="form-control">
					<div class="input-group-btn">
						<button type="submit" class="btn btn-default btn-primary">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</div><!-- /btn-group -->
				</form>
			</div><!-- /input-group -->

			<div id="preview_list" class="scroll center">
				<nav ng-show="data.length > 0">
					<ul class="pagination">
						<li><a ng-click="incPage(0)"><span>&laquo;</span></a></li>
						<li><a>{{ page }}</a></li>
						<li><a ng-click="incPage(1)"><span>&raquo;</span></a></li>
					</ul>
				</nav>
				<div class="col-lg-6 preview" ng-repeat="entry in data">
					<img class="fluid" ng-src="{{ base_url + entry.preview_file_url }}" ng-click="setActive(data.indexOf(entry))">
				</div>

				<nav ng-show="data.length > 0">
					<ul class="pagination">
						<li><a ng-click="incPage(0)"><span>&laquo;</span></a></li>
						<li><a>{{ page }}</a></li>
						<li><a ng-click="incPage(1)"><span>&raquo;</span></a></li>
					</ul>
				</nav>

			</div>

		</div>

		<div class="col-xs-6 max-height col-lg-8 center" id="parent">
		</div>

		<div ng-show="active" class="max-height col-xs-3 col-lg-2" id="right-bar">
			<button class="btn btn-primary btn-default" ng-click="copyURL()" style="width: 100%; margin-bottom: 5px">
				Copy URL
			</button>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="tag in active.tag_string.split(' ')">{{ tag }}</li>
			</ul>

	</body>
</html>
