<!DOCTYPE HTML>
<html lang="en" ng-app="app" ng-controller="appCtrl as vm">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no">
		<meta name="referrer" content="no-referrer">
		<title>{{ vm.tabs[vm.i].title }}</title>
		<link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="static/toastr.min.css">
		<script src="static/angular.min.js"></script>
		<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
		<script src="static/jquery.min.js"></script>
		<script src="static/jquery.scrollTo.min.js"></script>
		<script src="static/bootstrap/js/bootstrap.min.js"></script>
		<script src="static/xml2json.min.js"></script>
		<script src="static/toastr.min.js"></script>
		<script src="static/clipboard.min.js"></script>
		<script src="js/app.js"></script>
		<script>if (window.module) module = window.module;</script>
	</head>
	<body>
		<nav class="navbar navbar-default" style="-webkit-app-region: drag">
			<ul class="nav nav-tabs" role="tablist">
				<li ng-click="vm.switchTab(vm.tabs.indexOf(tab))" ng-class="{active: vm.i == vm.tabs.indexOf(tab)}" data-toggle="tab" ng-repeat="tab in vm.tabs"><a>{{ tab.tags == "" ? "New Tab" : tab.tags }}</a></li>
			</ul>
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				
				<div class="collapse navbar-collapse" id="navbar-collapse">
					<form class="navbar-form navbar-left nomargin" role="search" ng-submit="vm.newQuery(vm.tabs[vm.i].current_api)">
						<div class="form-group" style="-webkit-app-region: no-drag">
						<input autocomplete="off" id="tag-input" ng-model="vm.tabs[vm.i].tags" type="text" class="form-control" placeholder="Tags">
						</div>
						<div class="btn-group navbar-btn">
						<button id="booru-button" type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown">
							<img ng-hide="vm.apis[vm.tabs[vm.i].current_api].favicon" ng-src="{{ vm.apis[vm.tabs[vm.i].current_api].base_url + '/favicon.ico' }}">
							<img ng-show="vm.apis[vm.tabs[vm.i].current_api].favicon" ng-src="{{ vm.apis[vm.tabs[vm.i].current_api].favicon }}">
							{{ vm.apis[vm.tabs[vm.i].current_api].name }}
						</button>
						<ul class="dropdown-menu dropdown-menu-right">
							<li ng-repeat="(k, v) in vm.apis"><a ng-click="vm.setAPI(k)">
								<img ng-hide="v.favicon" ng-src="{{ v.base_url + '/favicon.ico' }}">
								<img ng-show="v.favicon" ng-src="{{ v.favicon }}">
								{{ v.name }}
							</a></li>
						</ul>
						</div>
						<button type="submit" class="btn btn-default btn-primary">
							<span class="glyphicon glyphicon-search"></span>
						</button>
						
						
				<a class="btn btn-default" ng-click="vm.incPage(0)">&laquo;</a>
				<a class="btn btn-default">Page {{ vm.tabs[vm.i].page }}</a>
				<a class="btn btn-default" ng-click="vm.incPage(1)">&raquo;</a>
						
					</form>
					
					<ul class="nav navbar-nav navbar-right">
						<li><a href="index.html">
							<span class="glyphicon glyphicon-refresh"></span>
						</a></li>
						<li>
							<input id="page_url" type="text" ng-value="vm.apis[vm.tabs[vm.i].api].page_url + vm.tabs[vm.i].active.id">
							<a onclick="toastr.success('Page URL copied!');" class="clipboard" data-clipboard-target="#page_url">
								<span class="glyphicon glyphicon-link"></span>
							</a>
						</li>
						<li>
							<a download ng-href="{{ vm.tabs[vm.i].src }}">
								<span class="glyphicon glyphicon-save"></span>
							</a>
						</li>
						<li>
							<a ng-click="vm.show_tags = !vm.show_tags"><span class="glyphicon glyphicon-tags"></span></a>
						</li>
						<li>
							<a ng-click="vm.newTab()"><span class="glyphicon glyphicon-plus"></span></a>
						</li>
						<li>
							<a ng-click="vm.closeTab(vm.i)"><span class="glyphicon glyphicon-remove"></span></a>
						</li>
					</ul>
					
				</div>
				
			</div>
		</nav>
		
		<div id="preview_list" class="horizontal-scroll" ng-class="{show: vm.tabs[vm.i].index == -1}">
			<a ng-repeat="entry in vm.tabs[vm.i].data">
				<img class="preview" ng-src="{{ entry.preview_url ? entry.preview_url : vm.tabs[vm.i].base_url + entry.preview_file_url }}" ng-click="vm.setActive(vm.tabs[vm.i].data.indexOf(entry))">
			</a>
		</div>
		
		<ul ng-hide="!vm.show_tags" id="tag-list" class="list-group">
			<li ng-hide="tag == ''" ng-class="{active: vm.tabs[vm.i].tags.split(' ').indexOf(tag) > -1}" class="list-group-item" ng-repeat="tag in vm.tabs[vm.i].active.tag_string ? vm.tabs[vm.i].active.tag_string.split(' ') : vm.tabs[vm.i].active.tags.split(' ') track by $index" ng-click="vm.addRemoveTag(tag)">{{ tag }}</li>
		</ul>
	
		<div class="max-height center" id="parent">
			<div ng-show="!vm.tabs[vm.i].active" style="text-align: left;">
				<div class="container">
					<h1>Quick Start</h1>
					<ol>
						<li>Type a tag into the search bar at the top, such as "<a ng-click="vm.tabs[vm.i].tags = 'landscape'">landscape</a>".</li>
						<li>Press the blue search button or the enter key.</li>
						<li>Image previews are on the bottom of the page.</li>
						<li>Cycle through images by clicking on them or with the left and right arrow keys.</li>
						<li>Cycle through pages with the down and up arrow keys.</li>
						<li>Click on the image to make it full-sized. Scroll around with the scrollbars or by autoscrolling with the middle mouse button.</li>
						<li>Click on the tag icon to view the current image's tags. Add/remove tags to the search bar by clicking on them.</li>
						<li>The booru can be changed by clicking on the button and selecting a different one. Press enter to use the newly selected booru.</li>
					</ol>
					<p>Version 1.0.7</p>
				</div>
			</div>
		</div>

	</body>
</html>
